<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD58gneU79CZuzSuvjOy_naAk2WMPVS4Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>574591046677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSleepSounds.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sleep-sounds-1e708</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-sounds-1e708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574591046677:ios:95fa6f0d85b3672ac1aa1c</string>
</dict>
</plist>